@import "tailwindcss";

@theme {
  --color-primary: #10B981;    /* Verde */
  --color-secondary: #EF4444;  /* Rojo */
  --color-surface-dark: #18181b;
  --color-background-dark: #0f0f0f;
}

/* Forzamos el esquema oscuro */
:root {
  color-scheme: dark;
}

body {
  background-color: #0a0a0a;
  color: #f3f4f6;
}